flows/Reto.json
[
    {
        "id": "7c492544349d169b",
        "type": "tab",
        "label": "Reto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f3c784aa536647a",
        "type": "telegram receiver",
        "z": "7c492544349d169b",
        "name": "",
        "bot": "fed499cbda6daf79",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "1faf20256de5c0f4",
                "2efd4891b492b11e"
            ],
            []
        ]
    },
    {
        "id": "1faf20256de5c0f4",
        "type": "debug",
        "z": "7c492544349d169b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "31246712eb0e7b64",
        "type": "ros-publisher",
        "z": "7c492544349d169b",
        "topicname": "/sub_Telegram",
        "typepackage": "std_msgs",
        "typename": "String",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "2efd4891b492b11e",
        "type": "function",
        "z": "7c492544349d169b",
        "name": "function 2",
        "func": "const text = { \"payload\": { \"data\": msg.payload.content } }\n\nreturn text",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "31246712eb0e7b64"
            ]
        ],
        "inputLabels": [
            "TelRecv"
        ],
        "outputLabels": [
            "MsgTSen"
        ]
    },
    {
        "id": "10f18c8e149a410d",
        "type": "telegram sender",
        "z": "7c492544349d169b",
        "name": "",
        "bot": "fed499cbda6daf79",
        "haserroroutput": false,
        "outputs": 1,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "ca32ada0b64caf27"
            ]
        ]
    },
    {
        "id": "d167c0d45150c76e",
        "type": "function",
        "z": "7c492544349d169b",
        "name": "function 3",
        "func": "\nconst enviar = {\"payload\":{}}\nenviar.payload.chatId = 5602213783\nenviar.payload.type = \"message\"\nnode.log(msg.payload.data)\nenviar.payload.content = msg.payload.data\nreturn enviar;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "10f18c8e149a410d"
            ]
        ]
    },
    {
        "id": "ca32ada0b64caf27",
        "type": "debug",
        "z": "7c492544349d169b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "d5b4353cdfa5b7ab",
        "type": "ros-subscriber",
        "z": "7c492544349d169b",
        "topicname": "/pub_Telegram",
        "typepackage": "std_msgs",
        "typename": "String",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "d167c0d45150c76e"
            ]
        ]
    },
    {
        "id": "fed499cbda6daf79",
        "type": "telegram bot",
        "botname": "created_rafa_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]